body {
	background-color: #343a40 !important;
	color: #fff !important;
}

#wrap {
    background-color: #343a40 !important;
}

.content, .card, .list-group-item, .dropdown-menu {
    background-color: #292a2d !important;
}

.synonyms .read-more-link, .noUi-tooltip {
	background-color: #17a2b8 !important;
}

.list-group-item-action, .b-tooltipped, .text-link-gray, .synonyms .read-more-link, [class*="text-gray-dark-"]:not([class*="7"]), .btn-o-4, .dropdown-menu {
    color: #fff !important;
}

.list-group-item-action {
    color: #fd7e14 !important;
}